

  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ product.imageurl }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          
        </div>
        <div class="card-footer" style="display: flex; justify-content: space-between;">
          <span class="card-text">Price: {{ product.price }} DH</span><button class="btn btn-primary" (click)="addToCart(product.id)">
            <i class="fa-solid fa-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  